:root {
  --theme-color-3: #E05600;
}

.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(2px) grayscale(0.8) brightness(0.8);
}

.image {
  max-width: 60%;
  max-height: 80%;
  object-fit: cover;
  border: 3px solid var(--theme-color-3);
}