:root {
  --theme-color-1: #993A00;
  --theme-color-2: #FF7119;
}

.title {
  color: var(--theme-color-1);
}

.heading {
  color: var(--theme-color-2);
  text-transform: uppercase;
  text-align: center;
}