:root {
  --theme-color-3: #E05600;
}

.input-box {
  display: none;
}

.label {
  display: flex;
  justify-content: center;
}

.add-button {
  cursor: pointer;
  height: 2rem;
  width: 2rem;
  border: 2px solid var(--theme-color-3);
  color: var(--theme-color-3);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.file-name {
  text-align: center;
  margin-bottom: 2rem;
}